/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.input-group {
    margin-bottom: 16px;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    margin-bottom: .5rem;
}

.text-right {
    text-align: right;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 99%;
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 21%;
    }
    .col-lg-4 {
        width: 31%;
    }
    .col-lg-5 {
        width: 35%;
    }
    .col-lg-6 {
        width: 46%;
    }
    .col-lg-7 {
        width: 53%;
    }
    .col-lg-8 {
        width: 60%;
    }
    .col-lg-9 {
        width: 67%;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-right {
    text-align: right;
}

.panel-primary {
    border-color: #337ab7!important;
}

.panel-green {
    border-color: #5cb85c!important;
}

.panel-blue {
    border-color: #30a5ff!important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}

.panel-blue > .panel-heading {
    border-color: #30a5ff;
    color: white;
    background-color: #30a5ff;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}